# Основные библиотеки для работы с нейросетями
torch>=2.0.0
torchvision>=0.15.0

# Обработка данных и изображений
Pillow
tqdm
numpy

# Работа с датасетами Kaggle (если планируете скачивать данные на лету)
kagglehub

# Библиотека для создания веб-интерфейса
streamlit