# Основные библиотеки для работы с нейросетями
torch>=2.0.0
torchvision>=0.15.0
tensorboard
# Также убедитесь, что указаны основные зависимости, если их там нет:

# Обработка данных и изображений
Pillow
tqdm
numpy
matplotlib
seaborn

# Работа с датасетами Kaggle (если планируете скачивать данные на лету)
kagglehub

# Библиотека для создания веб-интерфейса
streamlit

gdown
requests